#myDiv {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

nav {
  display: inline-block;
}

#streakChart, #currentStreakChart {
  display: inline-block;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

#streakChart {
  margin-left: 50px;
}

#currentStreakChart {
  margin-right: 50px;
}