#myDiv {
  margin-left: auto;
  margin-right: auto;
}

#mainBody {
  margin-top: 10px;
}

nav {
  display: inline-block;
}

#streakChart, #currentStreakChart {
  display: inline-block;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

#streakChart {
  margin-left: 50px;
  margin-bottom: 20px;
}

#currentStreakChart {
  margin-right: 50px;
  margin-bottom: 20px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

h2 {
  margin-top: 10px; 
  text-align: center;
  font-family: Comic Sans MS;
}